:root {
  --dark-color: #1d3455;
  --medium-color: #677277;
  --light-color: #a2aaaf;
}

* {
  color: var(--dark-color);
}


a, i {
  transition: 500ms;
  text-decoration: none;
}

h1 {
  margin: 0;
}

.secondary-color {
  color: var(--medium-color);
}

.center-image {
  background-size: cover;
  background-position: center;
}

.btn {
  text-decoration: none;
  background-color: var(--dark-color);
  padding: 0.5rem 1.25rem;
  border-radius: 0.25rem;
  color: #ffffff;
}

.btn:hover {
  background-color: var(--medium-color);
  color: #ffffff;
}