@import 'general.css';

/* HEADER  */
#header {
  text-align: center;
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid var(--medium-color);
}

#header span {
  margin: 8px 0 0 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 50px;
  height: 38px;
  margin-right: 10px;
}

/* HEADER navbar */
#navbar {
  padding: 10px;
  margin: 10px auto;
}

#navbar a {
  width: fit-content;
  color: var(--dark-color);
}

#navbar a:hover {
  color: var(--medium-color);
}

/* BANNER main image  */
.main-image {
  height: 25rem;
  background-image: url('../img/g_1.jpg');
  margin-bottom: 1.8rem;
  position: relative;
  box-shadow: 0 0 15px #bbbbbb;
  border-radius: 0.25rem;
}

.main-image-info {
  background-color: #ffffffd5;
  padding: 1.5rem;
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  border-radius: 0.125rem;
}