@import 'general.css';

/* HEADER  */
#header {
  text-align: center;
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid var(--medium-color);
}

#header span {
  margin: 8px 0 0 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo {
  width: 50px;
  height: 38px;
  margin-right: 10px;
}

/* HEADER navbar */
#navbar {
  padding: 10px;
  margin: 10px auto;
}

#navbar a {
  width: fit-content;
  color: var(--dark-color);
}

#navbar a:hover {
  color: var(--medium-color);
}

/* BANNER main image  */
.main-image {
  height: 25rem;
  background-image: url('../img/g_1.jpg');
  margin-bottom: 1.8rem;
  position: relative;
  box-shadow: 0 0 25px #bbbbbb;
  border-radius: 0.25rem;
}

.main-image-info {
  background-color: #ffffffd5;
  padding: 1.5rem;
  position: absolute;
  left: 1.5rem;
  bottom: 1.5rem;
  border-radius: 0.125rem;
}

/* GALLERY  */
#img2 {
  background-image: url('../img/g_2.jpg');
}

#img3 {
  background-image: url('../img/g_3.jpg');
}

#img4 {
  background-image: url('../img/g_4.jpg');
}

#img5 {
  background-image: url('../img/g_5.jpg');
}

#img6 {
  background-image: url('../img/g_6.jpg');
}

#gallery-container h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.gallery-card {
  margin-bottom: 3rem;
}

.small-image-container {
  box-shadow: 0 0 15px #bbbbbb;
  border-radius: 0.25rem;
  height: 16rem;
  margin: 0 0 1.3rem 0;
}

/* FOOTER  */
footer i {
  font-size: 20px;
}

#social-icons-container {
  padding: 25px;
}

#social-icons-container div {
  text-align: center;
}

footer p {
  text-align: center;
  margin: 20px;
}

a:hover i{
  color: var(--dark-color);
}